.skill-comment-form {
  width: 50vw;
}

.skill-list-item {
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: grey
  }
}

.pagination-container {
  padding-bottom: 2em;
  position: fixed;
  left: 0;
  bottom: 0;
}

.pagination-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}