.skills-container {
  overflow: auto;
  height: 57vh;
}

.skill-container {
  width: 40vw;
  margin: auto;
}

.skill-link {
  text-decoration: none;
  color: black;
}

.skill-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3em;
  background-color: #b9e6d3;
  border: 1px solid #7ed3b2;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

.skill-list-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-bottom: 2em;
  margin: auto;
  text-align: center;
}

.pagination-arrow {
  margin-top: 2px;
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover {
  transform: translateY(-1px);
}

.skill-comment-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.skill-comment {
  padding: 2px;
  width: 45vw;

}

.skill-comment-form {
  padding: 2px;
  width: 45vw;
  border: 1px solid black;
}

.skill-comment-comment {
  padding: 2px;
  margin: 2px;
  border: 1px solid red;
}